anytree
bitstring
click
configparser
cycler
fixedpoint
fonttools
GitPython
graphviz
igraph
jinja2
joblib
json5
kiwisolver
lxml
matplotlib
numpy
nyoka
packaging
Pillow
pyalslib
pyamosa
pyboolector
pycairo
pyeda
pymoo
pyparsing
python-dateutil
python-igraph
scikit-learn
scipy
seaborn
setuptools-scm
six
sklearn2pmml
tdqm
threadpoolctl
tomli
z3-solver
