
{% for function_name, lut in items["variants"] -%}
def {{function_name}}({{items["operand1"]}}, {{items["operand2"]}}):
	model = {{lut}}
	return model[{{items["operand1"]}}, {{items["operand2"]}}]

{% endfor %}

{{items["top_module"]}} = [
{% for function_name, _ in items["variants"] -%}
	{{function_name}}{{"," if not loop.last else "]"}}
{% endfor %}
